<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
         <a class="navbar-brand" href="/">F8 Education</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.0-9/75462329_2499937450284719_7876942971159969792_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_ohc=ajYD2VL05WIAX8OHEJW&_nc_ht=scontent.fhan5-2.fna&oh=54007dd7a3e8e9f38de3190f65da0a51&oe=601EF4D7" alt="" class="avatar">
                        Trung Đức</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
                        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>