<!-- start nav -->
      <div id="nav">
        <div class="container">  
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <img class="navbar-brand" src="vendor/img/logo.jpg" alt="logo">
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="vanphongpham.html">Trang chủ <span class="sr-only">(current)</span>
                  <i class="fa fa-home" aria-hidden="true"></i></a>
                  
                </li>     
                        <li><a class="nav-link" href="sanpham.html">Sản phẩm
                  <i class="fas fa-grip-horizontal"  aria-hidden="true"></i>
                </a>
                        </li>
                <li>
                  <a class="nav-link" href="xemgiohang.html">Giỏ hàng
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                  </a>
                </li>
                        <li><a class="nav-link" href="lienhe.html">Liên hệ
                  <i class="far fa-id-card"></i>
                </a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    <!-- end nav -->